In [1]:
#import packages
import pandas as pd
import requests
import os as os
import json 
import tweepy
from timeit import default_timer as timer
import ast

# Gathring #

In [2]:
df_csv=pd.read_csv("twitter-archive-enhanced.csv")

In [3]:
imgpre_url="https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"

In [4]:
imgpre_filename=imgpre_url.split("/")[-1]

In [5]:
response=requests.get(imgpre_url)

In [6]:
with open(imgpre_filename,mode="wb") as file:
    file.write(response.content)

In [7]:
df_img=pd.read_csv(imgpre_filename,sep="\t")

In [8]:
credintials=pd.read_json("tweeter_api_token.json")

In [9]:
credintials.head()

                                                              tokens
APISecretkey       n0wMSAOUyyNFdMpyG830FYD4sCrl7E8SJO3bBht09mmRk1...
APIkey                                     18LeS7Thb0iIuueN4ltY0iHrr
AccessToken        216314123-6zZZUomjbglEiT3ynIdowTk6jsN1UBKNmeL6...
AccessTokenSecret      YnKVj0UWZBfaHOP9Vf9kofMXRNTuNw1DgpGlAbz7wQf3I

In [10]:
auth=tweepy.OAuthHandler(credintials.tokens.APIkey,credintials.tokens.APISecretkey)
auth.set_access_token(credintials.tokens.AccessToken,credintials.tokens.AccessTokenSecret)

In [11]:
api=tweepy.API(auth,wait_on_rate_limit=True,wait_on_rate_limit_notify=True)

In [12]:
if (0):
    start = timer()
    failer={}
    Readinglog=""
    n=0
    with open ("tweet_json.txt",mode="w") as file:
        for tweetid in df_csv.tweet_id:
            n=n+1
            Readinglog+=(str(n)+" "+str(tweetid)+" ")
            print ( n," : ",timer() )
            try:
                temp=api.get_status(tweetid, tweet_mode='extended')._json
                Readinglog+="Success "
                json.dump(temp,file)            
                file.writelines("\n")
            except tweepy.TweepError as e:
                Readinglog+="Faild "
                failer[tweetid]=e
                pass
            #print(temp["favorite"])#favorite
            Readinglog+="\n"
            if n == 10000:
                break

    end = timer()
    print ( end - start)

In [13]:
start = timer()
failer={}
Readinglog1=""
n=0
with open ("tweet_json1.txt",mode="w") as file:
    for tweetid in df_csv.tweet_id:
        n=n+1
        Readinglog1+=(str(n)+" "+str(tweetid)+" ")
        print ( n," : ",timer() )
        try:
            temp=api.get_status(tweetid, tweet_mode='extended')._json
            Readinglog1+="Success "
            json.dump(temp,file)            
            file.writelines("\n")
        except tweepy.TweepError as e:
            Readinglog1+="Faild "
            failer[tweetid]=e
            pass
        #print(temp["favorite"])#favorite
        Readinglog1+="\n"
        if n == 10:
            break

end = timer()
print ( end - start)

1  :  0.4774677
2  :  0.7750788
3  :  1.0835127
4  :  1.3856587
5  :  1.6536495
6  :  1.9479714
7  :  2.268112
8  :  2.5594692
9  :  2.8839859
10  :  3.2041202
3.0119741

In [14]:
#https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object.html
with open ("tweet_json1.txt",mode="r") as file:
    lines=file.readlines()

In [15]:
json.loads(lines[3])

{'created_at': 'Sun Jul 30 15:58:51 +0000 2017',
 'id': 891689557279858688,
 'id_str': '891689557279858688',
 'full_text': 'This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ',
 'truncated': False,
 'display_text_range': [0, 79],
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 891689552724799489,
    'id_str': '891689552724799489',
    'indices': [80, 103],
    'media_url': 'http://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg',
    'url': 'https://t.co/tD36da7qLQ',
    'display_url': 'pic.twitter.com/tD36da7qLQ',
    'expanded_url': 'https://twitter.com/dog_rates/status/891689557279858688/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'small': {'w': 510, 'h': 680, 'resize': 'fit'},
     'medium': {'w': 901, 'h': 1200, 'resize': 'fit'},
     'large': {'w': 1201, 'h': 1600, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 891689552724799489,
    'id_str': '891689552724799489',
    'indices': [80, 103],
    'media_url': 'http://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg',
    'url': 'https://t.co/tD36da7qLQ',
    'display_url': 'pic.twitter.com/tD36da7qLQ',
    'expanded_url': 'https://twitter.com/dog_rates/status/891689557279858688/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'small': {'w': 510, 'h': 680, 'resize': 'fit'},
     'medium': {'w': 901, 'h': 1200, 'resize': 'fit'},
     'large': {'w': 1201, 'h': 1600, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs™',
  'screen_name': 'dog_rates',
  'location': '「 DM YOUR DOGS 」',
  'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com',
  'url': 'https://t.co/N7sNNHAEXS',
  'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS',
      'expanded_url': 'http://weratedogs.com',
      'display_url': 'weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 7896527,
  'friends_count': 12,
  'listed_count': 6059,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 141345,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 9960,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1110029608794161152/2SIlO9FZ_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1110029608794161152/2SIlO9FZ_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1553486409',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 8375,
 'favorite_count': 41040,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [16]:
with open ("tweet_json.txt",mode="r") as file:
    lines=file.readlines()

In [61]:
df_list=[]
for line in lines:
    line=json.loads(line)
    df_list.append({
        "tweet_id":line["id"],
        "favorite_count":line["favorite_count"],
        "retweet_count":line["retweet_count"],
           })

In [62]:
df_api=pd.DataFrame(df_list)

In [63]:
df_api.head()

   favorite_count  retweet_count            tweet_id
0           37731           8221  892420643555336193
1           32404           6077  892177421306343426
2           24401           4022  891815181378084864
3           41040           8376  891689557279858688
4           39238           9079  891327558926688256

In [20]:
df_img.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [40]:
df_csv.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

 # Assest  # 
## Quality: ## 
 
 ### df_csv ###
 1 - time stamp need to be changed to datatime instead of string<br/>
 2 - dummy varialbs ( dog type ) need to be cleaned into int ( boolean)<br/>
 3 - in_reply_to_status_id should be changed to string type <br/>
 4 - retweeted_status_user_id  should be changed to string type <br/>
 5 - rating_numerator ,rating_denominator  changing into one float variable<br/>
 <br/>
 ### df_img: ###
 its a clean dataframe<br/>
 <br/>
 #### df_api ####
 <br/>
 a clean dataframe

In [ ]:
df_csv.head()

In [39]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [23]:
df_csv.doggo.unique()

array(['None', 'doggo'], dtype=object)

In [24]:
df_csv.floofer.unique()

array(['None', 'floofer'], dtype=object)

In [25]:
df_csv.puppo.unique()

array(['None', 'puppo'], dtype=object)

In [26]:
df_csv.pupper.unique()

array(['None', 'pupper'], dtype=object)

In [32]:
df_csv[df_csv.expanded_urls.isna()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 30 to 2298
Data columns (total 17 columns):
tweet_id                      59 non-null int64
in_reply_to_status_id         55 non-null float64
in_reply_to_user_id           55 non-null float64
timestamp                     59 non-null object
source                        59 non-null object
text                          59 non-null object
retweeted_status_id           1 non-null float64
retweeted_status_user_id      1 non-null float64
retweeted_status_timestamp    1 non-null object
expanded_urls                 0 non-null object
rating_numerator              59 non-null int64
rating_denominator            59 non-null int64
name                          59 non-null object
doggo                         59 non-null object
floofer                       59 non-null object
pupper                        59 non-null object
puppo                         59 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 8.3+ KB

In [33]:
df_csv[df_csv.expanded_urls.isna()].head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None

In [38]:
df_csv[df_csv.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [43]:
df_img.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [44]:
df_img.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [47]:
df_img.p3.unique()

array(['Shetland_sheepdog', 'Rhodesian_ridgeback', 'bloodhound',
       'miniature_pinscher', 'Doberman', 'Greater_Swiss_Mountain_dog',
       'terrapin', 'fur_coat', 'golden_retriever',
       'soft-coated_wheaten_terrier', 'Labrador_retriever', 'Pekinese',
       'Ibizan_hound', 'French_bulldog', 'malinois', 'Dandie_Dinmont',
       'borzoi', 'partridge', 'bookcase', 'basenji', 'miniature_poodle',
       'great_grey_owl', 'groenendael', 'Eskimo_dog', 'hamster', 'briard',
       'papillon', 'flat-coated_retriever', 'gar', 'Chihuahua',
       'Shih-Tzu', 'Pomeranian', 'dingo', 'power_drill', 'Saluki',
       'Great_Pyrenees', 'West_Highland_white_terrier', 'collie',
       'toy_poodle', 'vizsla', 'acorn', 'giant_schnauzer', 'teddy',
       'common_iguana', 'wig', 'water_buffalo', 'coyote', 'seat_belt',
       'kelpie', 'space_heater', 'Brabancon_griffon', 'standard_poodle',
       'beagle', 'Irish_water_spaniel', 'bluetick', 'Weimaraner',
       'Chesapeake_Bay_retriever', 'toilet_tissue',
       'black-and-tan_coonhound', 'kuvasz', 'Christmas_stocking',
       'badger', 'hen', 'Staffordshire_bullterrier', 'Yorkshire_terrier',
       'Lakeland_terrier', 'weasel', 'ski_mask', 'cocker_spaniel',
       'Australian_terrier', 'lampshade', 'oscilloscope', 'ram', 'jeep',
       'ice_bear', 'African_grey', 'Great_Dane', 'curly-coated_retriever',
       'doormat', 'African_chameleon', 'schipperke', 'muzzle',
       'triceratops', 'Newfoundland', 'Band_Aid', 'wood_rabbit',
       'white_wolf', 'giant_panda', 'Welsh_springer_spaniel',
       'French_horn', 'toy_terrier', 'Pembroke', 'Cardigan', 'bassinet',
       'pug', 'Afghan_hound', 'American_Staffordshire_terrier', 'whippet',
       'English_setter', 'panpipe', 'crane', 'mouse', 'titi', 'Angora',
       'Boston_bull', 'silky_terrier', 'Japanese_spaniel', 'sandbar',
       'balance_beam', 'black-footed_ferret', 'miniature_schnauzer',
       'Blenheim_spaniel', 'bathtub', 'Saint_Bernard', 'redbone',
       'goldfish', 'Norfolk_terrier', 'llama', 'koala', 'pillow',
       'jersey', 'chow', 'minibus', 'malamute', 'bulletproof_vest',
       'beach_wagon', 'cairn', 'plunger', 'paper_towel', 'wing',
       'English_foxhound', 'Brittany_spaniel', 'bolete', 'ashcan',
       'box_turtle', 'guinea_pig', 'bison', 'bull_mastiff', 'racket',
       'cardoon', 'Tibetan_mastiff', 'window_screen', 'Irish_terrier',
       'agama', 'common_newt', 'car_wheel', 'gorilla', 'bagel', 'clumber',
       'Egyptian_cat', 'television', 'boxer', 'brown_bear', 'leafhopper',
       'German_shepherd', 'Border_collie', 'menu', 'wolf_spider',
       'bathing_cap', 'stinkhorn', 'drumstick', 'mask',
       'Scottish_deerhound', 'shower_curtain', 'Appenzeller',
       'plastic_bag', 'swimming_trunks', 'prairie_chicken', 'red_wolf',
       'Maltese_dog', 'snail', 'gibbon', 'Gordon_setter', 'black_swan',
       'beacon', 'wool', 'cowboy_boot', 'Rottweiler', 'poncho', 'swing',
       'Arctic_fox', 'bib', 'Italian_greyhound', 'steam_locomotive',
       'fountain', 'chickadee', 'abaya', 'Border_terrier', 'bubble',
       'chimpanzee', 'hammerhead', 'Norwegian_elkhound',
       'Norwich_terrier', 'Airedale', 'Siamese_cat', 'sea_cucumber',
       'seashore', 'nipple', 'moped', 'Arabian_camel', 'crayfish',
       'wallaby', 'wire-haired_fox_terrier', 'toilet_seat',
       'Old_English_sheepdog', 'pajama', 'Walker_hound', 'shovel',
       'bucket', 'Sealyham_terrier', 'Windsor_tie', 'Siberian_husky',
       'quill', 'Persian_cat', 'European_fire_salamander',
       'three-toed_sloth', 'swab', 'echidna', 'tennis_ball', 'Lhasa',
       'coral_reef', 'keeshond', 'mink', 'screw', 'basset', 'wreck',
       'kimono', 'German_short-haired_pointer', 'joystick', 'microwave',
       'Tibetan_terrier', 'Irish_wolfhound', 'Samoyed', 'loggerhead',
       'French_loaf', 'Irish_setter', 'komondor', 'purse', 'greenhouse',
       'broccoli', 'shopping_basket', 'macaque', 'squirrel_monkey',
       'green_lizard', 'parallel_bars', 'cloak', 'chest', 'sundial',
       'mosquito_net', 'bath_towel', 'cuirass', 'zebra', 'lumbermill',
       'wallet', 'feather_boa', 'English_springer', 'electric_fan',
       'hippopotamus', 'ox', 'quilt', 'assault_rifle', 'axolotl', 'pot',
       'toyshop', 'pizza', 'scuba_diver', 'beaver', 'Mexican_hairless',
       'cliff', 'loupe', 'wild_boar', 'jaguar', 'hog', 'polecat', 'lion',
       'EntleBucher', 'hand-held_computer', 'washbasin', 'whiptail',
       'rock_crab', 'hare', 'shoji', 'sombrero', 'bell_cote', 'rifle',
       'goose', 'pickup', 'sunglasses', 'limousine', 'bow_tie', 'pretzel',
       'marmot', 'ice_lolly', 'vacuum', 'dalmatian', 'prison',
       'shower_cap', 'sliding_door', 'dugong', 'otterhound', 'eel',
       'binder', 'bullfrog', 'soap_dispenser', 'sea_lion', 'carton',
       'brass', 'mitten', 'golfcart', 'cougar', 'warthog', 'umbrella',
       'neck_brace', 'cup', 'book_jacket', 'padlock', 'cab', 'chime',
       'Leonberg', 'viaduct', 'American_black_bear', 'tub', 'hand_blower',
       'king_penguin', 'rotisserie', 'bannister', 'passenger_car',
       'mongoose', 'dhole', 'consomme', 'valley', 'park_bench',
       'mushroom', 'barrow', 'parachute', 'desktop_computer', 'snorkel',
       'wok', 'affenpinscher', 'space_shuttle', 'rain_barrel',
       'ballplayer', 'mountain_tent', 'oxcart', 'buckeye', 'sunglass',
       'croquet_ball', 'refrigerator', 'snow_leopard', 'tripod',
       'rapeseed', 'tiger_cat', 'Bernese_mountain_dog', 'notebook',
       'maraca', 'pool_table', 'lakeside', 'theater_curtain', 'pier',
       'cheetah', 'mousetrap', 'pop_bottle', 'soccer_ball', 'wombat',
       'rhinoceros_beetle', 'paddlewheel', 'paintbrush', 'maze',
       'hatchet', 'chain', 'jigsaw_puzzle', 'switch',
       'Kerry_blue_terrier', 'barbell', 'convertible',
       'entertainment_center', 'file', 'guillotine', 'nail',
       'standard_schnauzer', 'bow', 'grocery_store', 'boathouse', 'conch',
       'Bouvier_des_Flandres', 'grey_fox', 'shopping_cart', 'meerkat',
       'grand_piano', 'envelope', 'screen', 'coffeepot', 'printer',
       'otter', 'restaurant', 'bonnet', 'crossword_puzzle', 'go-kart',
       'Sussex_spaniel', 'orangutan', 'canoe', 'barber_chair',
       'traffic_light', 'ibex', 'can_opener', 'Indian_elephant',
       'spatula', 'banana'], dtype=object)

In [50]:
df_img.img_num.unique()

array([1, 4, 2, 3], dtype=int64)

In [56]:
df_img[df_img.img_num==4].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 144 to 2040
Data columns (total 12 columns):
tweet_id    31 non-null int64
jpg_url     31 non-null object
img_num     31 non-null int64
p1          31 non-null object
p1_conf     31 non-null float64
p1_dog      31 non-null bool
p2          31 non-null object
p2_conf     31 non-null float64
p2_dog      31 non-null bool
p3          31 non-null object
p3_conf     31 non-null float64
p3_dog      31 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 2.5+ KB

In [57]:
df_img[df_img.img_num==4].head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
144,668623201287675904,https://pbs.twimg.com/media/CUdtP1xUYAIeBnE.jpg,4,Chihuahua,0.708163,True,Pomeranian,0.091372,True,titi,0.067325,False
779,689905486972461056,https://pbs.twimg.com/media/CZMJYCRVAAE35Wk.jpg,4,Pomeranian,0.943331,True,Shetland_sheepdog,0.023675,True,chow,0.007165,True
1024,710588934686908417,https://pbs.twimg.com/media/CdyE2x1W8AAe0TG.jpg,4,Pembroke,0.982004,True,Cardigan,0.008943,True,malamute,0.007550,True
1161,734787690684657664,https://pbs.twimg.com/media/CjJ9gQ1WgAAXQtJ.jpg,4,golden_retriever,0.883991,True,chow,0.023542,True,Labrador_retriever,0.016056,True
1286,750868782890057730,https://pbs.twimg.com/media/CmufLLsXYAAsU0r.jpg,4,toy_poodle,0.912648,True,miniature_poodle,0.035059,True,seat_belt,0.026376,False

In [48]:
 df_api.head()

   favorite_count                  id  retweet_count
0           37731  892420643555336193           8221
1           32404  892177421306343426           6077
2           24401  891815181378084864           4022
3           41040  891689557279858688           8376
4           39238  891327558926688256           9079

In [49]:
df_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 3 columns):
favorite_count    2339 non-null int64
id                2339 non-null int64
retweet_count     2339 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

  # Assest  # 

 ## tideness ##
 
1 -  df_api , df_csv  represent the same obeservations it would better to be merged together
 but we should be careful about the nullable and deference count between the raw
2 - merged , df_img represent the same obeservations it would better to be merged together
 but we should be careful about the nullable and deference count between the raw

### Cleaning ###
1- chaging time into datatime type

In [66]:
merged1=df_api.merge(df_csv,how="inner",on="tweet_id")

In [65]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2339 entries, 0 to 2338
Data columns (total 19 columns):
favorite_count                2339 non-null int64
retweet_count                 2339 non-null int64
tweet_id                      2339 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2339 non-null object
source                        2339 non-null object
text                          2339 non-null object
retweeted_status_id           167 non-null float64
retweeted_status_user_id      167 non-null float64
retweeted_status_timestamp    167 non-null object
expanded_urls                 2280 non-null object
rating_numerator              2339 non-null int64
rating_denominator            2339 non-null int64
name                          2339 non-null object
doggo                         2339 non-null object
floofer                       2339 non-null object
pupper                        2339 non-null object
puppo                         2339 non-null object
dtypes: float64(4), int64(5), object(10)
memory usage: 365.5+ KB

In [67]:
merged2=merged.merge(df_img,how="inner",on="tweet_id")

In [70]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2066 entries, 0 to 2065
Data columns (total 30 columns):
favorite_count                2066 non-null int64
retweet_count                 2066 non-null int64
tweet_id                      2066 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2066 non-null object
source                        2066 non-null object
text                          2066 non-null object
retweeted_status_id           75 non-null float64
retweeted_status_user_id      75 non-null float64
retweeted_status_timestamp    75 non-null object
expanded_urls                 2066 non-null object
rating_numerator              2066 non-null int64
rating_denominator            2066 non-null int64
name                          2066 non-null object
doggo                         2066 non-null object
floofer                       2066 non-null object
pupper                        2066 non-null object
puppo                         2066 non-null object
jpg_url                       2066 non-null object
img_num                       2066 non-null int64
p1                            2066 non-null object
p1_conf                       2066 non-null float64
p1_dog                        2066 non-null bool
p2                            2066 non-null object
p2_conf                       2066 non-null float64
p2_dog                        2066 non-null bool
p3                            2066 non-null object
p3_conf                       2066 non-null float64
p3_dog                        2066 non-null bool
dtypes: bool(3), float64(7), int64(6), object(14)
memory usage: 458.0+ KB